<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Forest Animals

    body
        section.container.animals
            h1 Animais Espirituais

            ul.tab-menu
                li
                    a(href="#fox") Fox
                li
                    a(href="#firefox") Firefox
                li
                    a(href="#wolf") Wolf

            .item
                .item-img
                    img(src="img/fox.jpg", alt="Fox")
                    h2 Fox
                .item-info
                    h3 Características
                    p Todavia, a valorização de fatores subjetivos oferece uma interessante oportunidade para verificação das formas de ação.
                    h3 Habitat
                    p Todavia, a valorização de fatores subjetivos oferece uma interessante oportunidade para verificação das formas de ação.

            .item
                .item-img
                    img(src="img/firefox.jpg", alt="Firefox")
                    h2 Firefox
                .item-info
                    h3 Características
                    p Todavia, a valorização de fatores subjetivos oferece uma interessante oportunidade para verificação das formas de ação.
                    h3 Habitat
                    p Todavia, a valorização de fatores subjetivos oferece uma interessante oportunidade para verificação das formas de ação.